*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: auto;
    
}

.navigation
{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    width: 90;
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    height: 10vh;
}

.left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
}

.logo
{
    margin-top: 0.1%;
    max-width: 10%;
    height: auto;
    max-height: 10%;
    margin-left: 0.5%;
}

.right
{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
    margin-left: 0.5%;
}

.right ul
{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1.7%;

}

.right li
{
    display: flex;
    align-items: baseline;
    list-style-type: none;
    padding-left: 10%;
 
}

li a:hover:not(.active){
    color: yellow;
    background-color: black;

}
a .active
{
    color: black;
    background-color: white;
}

a{
    display: flex;
	align-items: flex-end;
	text-decoration: none;
	color: white;
}

.hero
{
    display: flex;
    flex-direction: row;
    max-width: 95%;
 
}

.hero-content
{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 10%;
  
}
.hero-content h1
{
    font-size: 4.2vw;
	margin: 0;
    margin-top: 15%;
}
.hero-content h2
{
	font-size: 3vw;
	margin-top: 0.5%;
	font-weight: 500;
    color: rgba(35, 105, 163, 0.568);
}

.hero-content h3
{
    font-size: 2vw;
	margin-top: 0.2%;
    width: 80%;
    font-weight: 100;
}

.hero-image
{
    max-width: 100%;
    height: auto;
    max-height: 70%;
   align-items: flex-end;
   justify-content: flex-end;
   margin-left: 10%;
   margin-top: 5%;
}

.cta-wrapper {
	display: flex;
	width: 50%;
	background-color: rgba(35, 105, 163, 0.568);
	border-radius: 20px;
	justify-content: center;
	justify-self: flex-start;
	align-self: flex-start;
}

.call-to-action {
	justify-self: center;
	align-self: center;
	font-size: 3vw;
}

.cars-wrapper
{
    display: flex;
    justify-content:flex-start;
	flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10%;
    width: 90%;
    margin-left: 10%;
}

.cars-wrapper .box
{
    width:  240px;
    margin: 20px;
    padding: 20px;
    background: rgba(35, 105, 163, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cars-wrapper .box .imgbox
{
    
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
    
}
.cars-wrapper .box .imgbox .img
{

top :0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.cars-wrapper .box .car-title
{
    margin-top: 0px;
}









footer {
	background-color: black;
	display: flex;
	padding: 1% 15% 1% 15%;
	width: 100%;
	height: 30vh;
}
.footer-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.footer-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 33.3%;
}
.footer-media {
	display: flex;
	height: 80%;
	margin: 0 3% 0 3%;
}
.social-icon-link {
	height: 50px;
	width: 50px;
}
.social-icon {
	height: 100%;
	width: 100%;
}
.content {
	display: flex;
	width: 100%;
	height: 33.3%;
	color: white;
	align-items: center;
	justify-content: center;
}
.copyright {
	font-size: 1vw;
}
.bottom {
	display: flex;
	width: 100%;
	height: 33.3%;
	color: white;
	align-items: center;
	justify-content: center;
}

.bottom ul {
	margin: 0;
	padding: 0;
	display: flex;
	font-size: 1vw;
	color: white;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.footer-link {
	width: 20%;
	padding: 0;
	margin: 0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-link a {
	display: flex;
	text-decoration: none;
	color: white;
}

.title {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.media-left{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 33.3%;
}